.movies1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
}

.movies1>div{
    width: 30%;
    background-color: yellow;
    margin-top: 5px;
    border-radius: 30px;

}