.movies2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
}

.movies2>div{
    width: 30%;
    background-color: yellow;
    margin-top: 5px;
    border-radius: 30px;
}
.FilmDeteils{
    display: flex;
    margin-left: 450px;
    text-align: center;
    background-color: pink;
    width: 400px;
    border-radius: 100px;
}
